<div class="card bg-dark text-white">
   <video autoplay muted loop >
    <source src="../../../assets/6774633-hd_1920_1080_30fps.mp4" type="video/mp4">
   </video>
    <div class="card-img-overlay">
      <h4 class="card-title">TASK AND EVENT MANAGEMENT SYSTEM </h4>
      <button type="submit" class="btn btn-primary"><a  class="text-light" routerLink="/signup1">admin page </a></button>
      <button type="submit" class="btn btn-success"><a  class="text-light" routerLink="/login">user page </a></button>
    </div>
  </div>