
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand ml-5 mr-auto pl-5 " routerLink="">T&E&M</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav ">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/calendar">calendar<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/create-user">create-user<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/create-task">create-task<span class="sr-only">(current)</span></a>
            </li>
           
            <li class="nav-item active">
                <a class="nav-link" routerLink="/taskviewer">task-viewer<span class="sr-only">(current)</span></a>
            </li>
          
        </ul>
      
    </div>
</nav>
